.footer
{
    background-color: rgb(211, 205, 205);
}
.NewEvents,.container-fluid
{ 
    background-color: rgb(235, 227, 227);
}
.music,.family,.culture,.sport
{background: #afaaaa;
      color: #000;
      text-decoration: none;
}
.music:hover
{
    background-color: blueviolet;
    text-decoration: none;
    color: white;
}
.family:hover
{
    background-color: rgb(226, 43, 156);
    text-decoration: none;
    color: white;
}
.culture:hover
{
    text-decoration: none;
      background-color: rgb(255, 76, 31);
    color: white;

}
.sport:hover
{
    text-decoration: none;
      background-color: rgb(0, 201, 50);
    color: white;

}
